# Project data
data/*
models/*
log/*
output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.c
*.cpp
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea/**/workspace.xml